@model IEnumerable<UPBEats.Models.Producto>

@{
    ViewData["Title"] = "Inicio";
}

<section class="page-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center ">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Nombre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Descripcion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Precio)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Foto)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Descripcion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Precio)
                                </td>
                                <td>
                                    <img src="data:image/jpg;base64, @Convert.ToBase64String(item.Foto)" width="50" alt="" />
                                </td>
                                <td>
                                    @if (UPBEats.Controllers.HomeController.getUsuarioTipoRolId == 2)//Opciones para el vendedor
                                    {
                                        <a class="btn btn-secondary btn-circle" asp-action="Edit" asp-route-id="@item.Id">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <a class="btn btn-secondary btn-circle" asp-action="Delete" asp-route-id="@item.Id">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                        <a class="btn btn-secondary btn-circle" asp-action="Details" asp-route-id="@item.Id">
                                            <i class="fas fa-info"></i>
                                        </a>
                                    }
                                    else
                                    {
                                        <form asp-controller="ProductoFavoritos" asp-action="Favorito">
                                            <input type="hidden" value="@item.Id" name="ProductoId" />
                                            <input type="hidden" value="@UPBEats.Controllers.HomeController.getIdUsuario" name="UsuarioId" />
                                            <button class="btn btn-sm" id="btnFavorito" type="submit" href="#">
                                                @if (UPBEats.Controllers.ProductosController.IsProductoFavorito(item.Id, UPBEats.Controllers.HomeController.getIdUsuario))
                                                {
                                                    <i class="fas fa-heart fa-2x text-primary" id="iconFavorito"></i>
                                                }
                                                else
                                                {
                                                    <i class="fas fa-heart fa-2x text-secondary" id="iconFavorito"></i>
                                                }
                                            </button>
                                            <a class="btn btn-secondary btn-circle" asp-action="Details" asp-route-id="@item.Id">
                                                <i class="fas fa-info"></i>
                                            </a>
                                        </form>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

