@model IEnumerable<UPBEats.Models.Usuario>

@{
    ViewData["Title"] = "Inicio";
}

<section class="page-section bg-primary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center ">
                <table class="table text-white">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Nombre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Apellido)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Correo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Foto)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Emprendimiento)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DescEmprendimiento)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Apellido)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Correo)
                                </td>
                                <td>
                                    <img src="data:image/jpg;base64, @Convert.ToBase64String(item.Foto)" width="50" alt="" />
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Emprendimiento)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DescEmprendimiento)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="text-secondary">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.Id" class="text-secondary">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="text-secondary">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

